 /* Activities page */
html, body {
  height: auto;        
  margin: 0;
  display: block;      
  font-family: 'Montserrat', sans-serif; 
  background-color: #ffffff;
}

.header {
  display: flex;                   
  flex-direction: column;     
  height: 160px;     
  padding: 32px;                 
 position: static;              
  top: 0;                         
  left: 0;                        
  width: 100%;                   
  background-color: #ffffff;     
  z-index: 1000;                 
}

.navbar {
  display: flex;                 
  justify-content: flex-start;     
  align-items: center;  
  margin-left: 40px;             
  padding: 10px 0;                 
}

.nav-link {
  font-size: 1rem;
  color: #000000;
  text-decoration: none;
  margin-right: 80px; 
}

.activities-title {
  font-size: 7rem;                 
  font-weight: bold;              
  margin: 10px 0 0;                
  color: #000000;                 
  text-align: right;    
  flex-grow: 1;      
  padding-right: 64px;   
}

.week-heading {
  text-align: left;
  font-size: 40px;
  margin-top: 72px;
  font-weight: 400;  
  margin-left: 350px;
}

.activities.image-text-container {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  margin-bottom: 24px; 
  margin-left: 350px;
  margin-right: auto;
  flex-wrap: wrap;

}

.activities.image-description {
width: 880px;
font-size: 18px;
font-weight: 400;
margin-top: 0;
margin-left: 0;
line-height: 1.7;
}

.fig-caption {
  text-align: left;
  font-size: 18px;
  margin-top: 5px;
  font-weight: 300;
}

.fig-caption-right {
  text-align: left;
  font-size: 18px;
  margin-top: 5px;
  font-weight: 300;
  margin-left: 32px;
}

/* week2 */
.concreteactivity {
  width: 384px;
  height: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.crazy8 {
  width: 384px;
  height: auto; 
  margin-left: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.blues,
.retrogame {
  width: 384px;
  height: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.retrogameshare{
  width: 384px;
  height: auto; 
  margin-left: 32px;
}

.retrogameshowing, .W1HelloWrold {
  width: 384px;
  margin-left: 32px;
  height: auto; 
}
/* week3 */
.interpret {
  width: 384px;
  height: auto; 
}

.interpret1 {
  width: 384px;
  height: auto; 
  margin-left: 32px;
}

.projectoverview {
  width: 384px;
  height: auto; 
}

.w5p5 {
  width: 384px;
  height: auto; 
  margin-left: 32px;
}

.w6_mine,
.w6_present{
  width: 384px;
  height: auto; 
}

.w6_peer1,
.w6_skoc8{
  width: 384px;
  height: auto; 
  margin-left: 32px;
}

.w7_vr,
.w7_sko_wip{
  width: 384px;
  height: auto; 
}

.w7_david,
.w7_grid {
  width: 384px;
  height: auto; 
  margin-left: 32px;
}