 /* Activities page */
html, body {
  height: auto;        
  margin: 0;
  display: block;      
  font-family: 'Montserrat', sans-serif; 
  background-color: #ffffff;
}

.header {
  display: flex;                   
  flex-direction: column;     
  height: 160px;     
  padding: 32px;                 
 position: static;              
  top: 0;                         
  left: 0;                        
  width: 100%;                   
  background-color: #ffffff;     
  z-index: 1000;                 
}

.navbar {
  display: flex;                 
  justify-content: flex-start;     
  align-items: center;  
  margin-left: 40px;             
  padding: 10px 0;                 
}

.nav-link {
  font-size: 1rem;
  color: #000000;
  text-decoration: none;
  margin-right: 80px; 
}

.activities-title {
  font-size: 7rem;                 
  font-weight: bold;              
  margin: 10px 0 0;                
  color: #000000;                 
  text-align: right;    
  flex-grow: 1;      
  padding-right: 64px;   
}
.content {
  padding: 80px 20px;
  position: relative;
  text-align: left;
  font-size: 2rem;
  font-weight: 200;
  margin-left: auto; /* Automatically centers content */
  margin-right: auto;
  max-width: 1400px; /* Adjust to control max content width */
}
.week-heading {
  padding-top: 24px; /* Adjust the value as needed */
}


.content h1, 
.content h2, 
.content h3, 
.content h4, 
.content h5, 
.content h6 {
  font-weight: 300;
}

/* Consistent styling for image-text containers */
.week2.image-text-container {
  display: flex;
  justify-content: space-between; /* Spacing between elements */
  align-items: flex-start;
  margin-bottom: 24px;
}

.concreteactivity {
  width: 440px;
  height: auto; 
}

.week2 .image-description {
  width: 440px;
  margin-left: 10px; /* Spacing between image and text */
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
}

.crazy8, .retrogame {
  width: 200px;
  height: auto; 
  margin-left: 10px;
  
}

/* Second row styling */
.retrogameshare, .retrogameshowing, .W1HelloWrold {
  width: 440px;
  height: auto; 
}

.retrogameshowing, .W1HelloWrold {
  margin-left: 10px;
}

/* week3 */
.week3.image-text-container {
  display: flex;
  justify-content: space-between; /* Spacing between elements */
  align-items: flex-start;
  margin-bottom: 24px;
}

.drawface {
  width: 200px;
  height: auto; 
}

.w3p5 {
  width: 200px;
  margin-left: 10px; 
}

.week3 .image-description {
  width: 440px;
  margin-left: 10px; /* Spacing between image and text */
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
}

.interpret {
  width: 200px;
  margin-left: 10px; 
}

.interpret1 {
  width: 200px;
  margin-left: 10px; 
}

/* week5 */
.week5.image-text-container {
  display: flex;
  justify-content: space-between; /* Spacing between elements */
  align-items: flex-start;
  margin-bottom: 24px;
}

.week5 .image-description {
  width: 440px;
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
}

.projectoverview {
  width: 440px;
  margin-left: 10px; 
}

.w5p5 {
  width: 440px;
  margin-left: 10px; 
}

/* week6 */
.week6.image-text-container {
  display: flex;
  justify-content: space-between; /* Spacing between elements */
  align-items: flex-start;
  margin-bottom: 24px;
}

.w6_mine {
  width: 440px;
}

.week6 .image-description {
  width: 440px;
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
  margin-left: 10px; 
}

.w6_peer {
  width: 200px;
  margin-left: 10px; 
}

.w6_peer1 {
  width: 200px;
  margin-left: 10px; 
}

.w6_example {
  width: 200px;
}

.w6_present {
  width: 200px;
  margin-left: 10px; 
}

.w6_skoc8  {
  width: 440px;
  margin-left: 10px; 
}

.w6_sko  {
  width: 440px;
  margin-left: 10px; 
}

/* week7 */
.week7.image-text-container {
  display: flex;
  justify-content: space-between; /* Spacing between elements */
  align-items: flex-start;
  margin-bottom: 24px;
}

.week7 .image-description {
  width: 440px;
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
}

.w7_3d {
  width: 200px;
  margin-left: 10px; 
}

.w7_vr {
  width: 200px;
  margin-left: 10px; 
}

.w7_david {
  width: 440px;
  margin-left: 10px; 
}

.w7_sko_sketch {
  width: 440px;
}

.w7_sko_wip {
  width: 440px;
  margin-left: 10px; 
}

.w7_grid {
  width: 200px;
  margin-left: 10px; 
} 

.w7_grid_screenshot {
  width: 200px;
  margin-left: 10px; 
}

/* week8 */
.week8.image-text-container {
  display: flex;
  justify-content: space-between; /* Spacing between elements */
  align-items: flex-start;
  margin-bottom: 24px;
}

.w8_wordsound {
  width: 440px;
}

.week8 .image-description {
  width: 440px;
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
  margin-left: 10px; 
}

.w8_slide {
  width: 200px;
  margin-left: 10px; 
}

.w8_map {
  width: 200px;
  margin-left: 10px; 
}
