/* All about coding page */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    scroll-behavior: smooth;  /* Enables smooth scrolling */
}

.header {
    position: relative;  /* Keeps the header fixed at the top */
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    background-color: #ffffff;
    z-index: 1000; /* Makes sure it stays above other content */

}

.navbar {
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
    padding: 10px 0;
}

.nav-link {
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    margin-right: 80px;
}

.allaboutcoding-title {
    font-size: 7rem;
    font-weight: bold;
    color: #000000;
    text-align: right;
    padding-right: 64px;
}

/* Table Container for layout */
.container {
    position: relative;
    text-align: left;
    display: flex;
    padding-top: 160px;  /* Space to account for the fixed header */
    margin-top: 40px;    /* Extra margin if needed */
}

/* Table of Contents styles */
.toc {
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    position: sticky;  /* Sticks as you scroll */
    top: 160px;  /* Starts sticking after the header */
    height: 100vh;
    margin-left: 48px;
}

.toc h3 {
    margin-top: 0;
    
}

.toc ul {
    list-style-type: none;
    padding: 0;
}

.toc li {
    margin-bottom: 20px;
}

.toc a {
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    font-weight: 600;
}

.toc a:hover {
    color: #007BFF;
}

/* Content styles */
.content {
    padding: 20px;
    background-color: #fff;
    max-width: 1200px;
    position: relative;
    text-align: left;
    margin: 0 auto; /* Centers content */
}

.coding-heading {
  padding-top: 40px; /* Adjust the value as needed */
  font-size: 40px;
  font-weight: 400;
}

/* Basic HTML &Css */
.basichtml.image-text-container {
    display: flex;
    flex-wrap: wrap; /* Allows the content to wrap when necessary */
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 24px;
    
}

.basichtml .image-description {
    width: 980px;
    font-size: 17px;
    font-weight: 400;
    margin-top: 0;
    margin-left: 0;
    line-height: 1.6;
  }


 /* The second row of basic html */
 .basichtml .image-description-second{
    width: 480px;
    font-size: 17px;
    font-weight: 400;
    margin-top: 0;
    margin-left: 0;
    line-height: 1.6;
    
  }

 .basichtml .code-snippet {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 480px;
    height: auto; 
    margin-top: 0;
}
  .helloworld {
    width: 480px;
    height: auto; 
    margin-left: 32px;
    
  } 
/* The third row of basic html */

.basichtml .code-snippet-second  {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 480px;
    height: auto; 
    margin-top: 0;
}
.crazy8helloworld {
    width: 480px;
    height: auto; 
    margin-left: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
  } 

  .basichtml .image-description-third{
    width: 980px;
    font-size: 17px;
    font-weight: 400;
    margin-top: 0;
    margin-left: 0;
    line-height: 1.6;
  }

.hellooo {
    width: 480px;
    height: auto;
    margin-left: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.blues{
    width: 480px;
    height: auto;
    
}
.concreteinspired{
    width: 480px;
    height: auto;
    margin-left: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.basichtml .code-snippet-third  {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 480px;
    height: auto; 
    margin-top: 0;
}

.OK {
    width: 480px;
    height: auto;
    margin-left: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* P5.js Shapes */
.basichtml .image-description-forth{
    width: 480px;
    font-size: 17px;
    font-weight: 400;
    margin-top: 0;
    margin-left: 0;
    line-height: 1.6;
  }

.drawface {
    width: 480px;
    height: auto;
    margin-left: 32px;
}

.basichtml .code-snippet-forth  {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 480px;
    height: auto; 
    margin-top: 0;
}

.facep5 {
    width: 480px;
    height: auto;
    margin-left: 32px;
}

.video-rotate {
    height: auto;
    margin-left: 32px;
}

.basichtml .image-description5{
    width: 980px;
    font-size: 17px;
    font-weight: 400;
    margin-top: 0;
    margin-left: 0;
    line-height: 1.6;
  }

.basichtml .code-snippet5{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 480px;
    height: auto; 
    margin-top: 0;
}

.basichtml .image-description6{
    width: 980px;
    font-size: 17px;
    font-weight: 400;
    margin-top: 0;
    margin-left: 0;
    line-height: 1.6;
  }
  .basichtml .code-snippet6{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 480px;
    height: auto; 
    margin-top: 0;
}

.video-automaticWords, 
.video-OMG {
    height: auto;
    margin-left: 32px;
}

.blurimage {
    width: 480px;
    height: auto;
    margin-left: 32px;
}

.video-mouseDragged,
.video-mouseImage {
    height: auto;
    margin-left: 32px;
}

/* Radio Button */
.video-radioButton {
    height: auto;
    margin-left: 32px;
}

/* play a sound */
.video-roarSound,
.video-wigglewiggle {
    height: auto;
    margin-left: 32px;
}

